
// --- Color ---

@theme-fore:wheat;
@theme-back:black;
@theme-high:black; // Highlight font color
@theme-dark:black;
@theme-gray:#333;

// --- Position ---

@theme-navd-width: 10%;
@theme-navd-height:10%;
@theme-view-width: 90%;
@theme-view-height:90%;
@theme-tabs-width: 50%;
@theme-tabs-height: 5%; @theme-tabs-height-pc: 5%;

// -- Grid Justify and Aligh ---

.themeCenterStretch() { display:grid; justify-items:center; align-items:center; text-align:center;
  align-self:stretch; justify-self:stretch; }
.themeCenterItems()   { display:grid; justify-items:center; align-items:center; text-align:center; }
.themeLeftSelf()      { display:grid; justify-self: start;  align-self: center; text-align:left;   }

// -- Font Size ---

@themeFS:2vmin;
@theme-h1-FS:2.0*@themeFS; @theme-h2-FS:1.5*@themeFS; @theme-h1-FS:1.0*@themeFS;
@theme-font-family:Roboto, sans-serif;
@theme-h1FS:2.0rem; @theme-h2-size:1.5rem; @theme-h3-size:1.0rem;


.theme-desc { font-size:1.0rem; background-color:@theme-gray; border-radius:0.7em; width:90%; height:90%; }

// top | right | bottom | left