
@theme-back:black;
@theme-high:black; // Highlight font color
@theme-color:wheat;
@theme-color-prac:black;
@theme-border-color:wheat;
@theme-font-family:Roboto, sans-serif;

@theme-west:   11fr;
@theme-center: 85fr;
@theme-east:   4fr;

@theme-north:  10fr;
@theme-middle: 85fr;
@theme-south:   5fr;

@theme-h1-size:     2.0rem;
@theme-h2-size:     1.5rem;
@theme-h3-size:     1.0rem;
@theme-tab-size:    1.5rem;
@theme-btn-size:    1.4rem;
@theme-choice-size: 1.4rem;
@theme-table-size:  1.0rem;
@theme-math-size:   2.5rem;
@theme-obs-size:    2.5rem;

@theme-dash-size:  1.5rem;
@theme-navd-size:  1.2rem;
@theme-dirs-size:  1.8rem;
@theme-tocs-size:  2.5rem;
@theme-conn-size:  1.3rem;
@theme-prac-size:  2.0rem;
@theme-full-size:  2.5rem;
@theme-disp-size:  1.6rem;

@theme-cen-size:   1.6rem;
@theme-dir-size:   1.4rem;
@theme-row-size:   1.6rem;

@theme-area-size:       1.5rem;
@theme-area-icon-size:  1.6rem;
@theme-area-name-size:  1.6rem;
@theme-area-desc-size:  1.6rem;
@theme-area-area-size:  1.6rem;

.theme-logo { background-color:@theme-back; font-size:@theme-dash-size; }
.theme-menu { background-color:@theme-back; font-size:@theme-dash-size; }
.theme-find { background-color:@theme-back; font-size:@theme-dash-size; }
.theme-tocs { background-color:@theme-back; font-size:@theme-tocs-size; }
.theme-view {                               font-size:@theme-dash-size; }
.theme-side { background-color:@theme-back; font-size:@theme-dash-size; }
.theme-pref { background-color:@theme-back; font-size:@theme-dash-size; }
.theme-foot { background-color:@theme-back; font-size:@theme-dash-size; }
.theme-trak { background-color:@theme-back; font-size:@theme-dash-size; }

@theme-back-tocs-comp:#333;
@theme-back-tocs-prac:#444; // Not used yet
@theme-back-tocs-disp:#555; // Not used yet
@theme-color-tocs-disp:white;

@theme-back-menu:#222;
@theme-back-item:#444;
@theme-back-item-hover:#777;
@theme-color-item-hover:black;

// top | right | bottom | left